# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java


# IntelliJ #
build
.idea
.gradle

### Java ###
# Compiled class file
*.class
#*.yml

#!gradle.yml
#!appspec.yml
#!application.yml
#!application-prod.yml

application-local.yml
application-tmp.yml

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz

# SQL #
*.sql

# cert #
#*.p12

# End of https://www.toptal.com/developers/gitignore/api/java.txt